pipeline/Pipeline_if_example.json
{
	"name": "Pipeline_if_example",
	"properties": {
		"description": "Mapping 1",
		"activities": [
			{
				"name": "Check count of Records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecordCount from saleslt.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_generic_db",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Customer",
							"databaseName": "raunakdb"
						}
					}
				}
			},
			{
				"name": "Check if Record Count greater than 500",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check count of Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Check count of Records').output.firstRow.RecordCount,500)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "If-else case",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azureSQLDataSet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "azureADLSDataSet",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "If else example"
									}
								}
							]
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "If-else case",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline_if_inside_if_example",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-24T04:57:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}