pipeline/Pipeline_if_inside_if_example.json
{
	"name": "Pipeline_if_inside_if_example",
	"properties": {
		"description": "Mapping 2: Since, if inside if is not possible then we have to create a separate pipeline to accommodate the business logic. ",
		"activities": [
			{
				"name": "Record count of Product Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select count(*) as RecordCount from saleslt.Product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_generic_db",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "saleslt",
							"tableName": "Product",
							"databaseName": "raunakdb"
						}
					}
				}
			},
			{
				"name": "If inside If example",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record count of Product Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Record count of Product Table').output.firstRow.RecordCount,1000)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Populate CustomerAddress",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql_generic_db",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "CustomerAddress",
										"databaseName": "raunakdb"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "azureADLSDataSet",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "If_inside_if_false_case"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Product Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sql_generic_db",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "Product",
										"databaseName": "raunakdb"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "azureADLSDataSet",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "If_inside_If_example_copy_product"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-24T04:57:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}